<div class="container user-edit-form">
    <div class="row">
        <%= form_with url:"/user/#{@user.id}/update" do |form| %>
            <div class="edit-form">
                <h2>アカウント編集</h2>
                <div class="form-group">
                    <%= form.label :name ,'ユーザー名',:class => 'form-label'%>
                    <%= form.text_field :name, :value=>@user.name,:class => 'form-control' %>
                </div>
                <div class="form-group"> 
                    <%= form.label :image_icon ,'アイコン画像',:class => 'form-label'%>
                    <%= file_field :image_icon, :file %>
                </div>
                <div class="form-group">
                    <%= form.label :email ,'メールアドレス',:class => 'form-label'%>
                    <%= form.text_field :email, :value=>@user.email,:class => 'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :goal ,'目標設定',:class => 'form-label'%>
                    <%= form.text_field :goal, :value=>@user.goal,:class => 'form-control' %>
                </div>
                <%= form.submit "保存" ,:class => 'btn btn-primary'%>
            </div>
        <% end %>
    </div>
</div>