<div class="container u-container">
    <div class="row user-index">
        <div class="col-sm-9">
            <div class="u-contents">
                <% @users.each do |user| %>
                    <div class="u-content">
                        <div class="u-content-left">
                        <%if  user.image_icon? %>
                            <img src="<%= user.image_icon.url %>" class="u-image" alt="ユーザーアイコン">
                        <% else %>
                            <%= image_tag '/assets/default.jpeg' ,class:"u-image", :alt => 'ユーザーアイコン' %>
                        <% end %>
                        </div>
                        <div class="u-content-right">
                            <%= link_to( user.name ,user_path(user), {class: "u-name"}) %>
                            <% if user.goal %>
                                <%= link_to(  "目標：#{user.goal}" , user_path(user), {class: "u-goal"}) %>
                            <% else %>
                                <%= link_to( "目標はまだ決めていません！" , user_path(user), {class: "u-goal"}) %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="search-form">
                <%= search_form_for @q ,url: user_index_path do |f| %>
                        <div class="search-field">
                            <%= f.search_field :name_or_goal_cont , :placeholder => "目標を検索してみよう"%>
                            <%= f.submit "検索" %>
                        </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
