<div class="container">
    <div class="row ">
        <%= form_with url:"/study/#{@study.id}/update" , class: "f-studies" do |form| %>
            <div class="f-study">
                <% @study.errors.full_messages.each do |message| %>
                    <%= message %>
                <% end %>
                <div class="form-group">
                    <%= form.label :content ,'学習内容',:class => 'label-study'%>
                    <%= form.text_field :content, :value=>@study.content %>
                </div>
                <div class="form-group">
                    <%= form.label :material ,'学習教材',:class =>'label-study'%>
                    <%= form.text_field :material, :value=>@study.material %>
                </div>
                <div class="form-group">
                    <%= form.label :period ,'学習完了日' ,:class => 'label-study'%>
                    <%= form.date_field :period, :value=>@study.period %>
                </div>
                <div class="form-group">
                    <%= form.label :tag_name ,'タグ' ,:class => 'label-study'%>
                    <%= form.text_field :tag_name , :placeholder => "複数の場合は、スペースを開けて入力して下さい"%>
                </div>
            </div>
            <div class="study-edit-btn">
                <%= form.submit "保存" ,:class => 'edit-btn'%>
            </div>
        <% end %>
    </div>
</div>
