<div class="container study-index-container">
        <h1>みんなの学習投稿一覧</h1>
    <div class="row">
        <div class="col-md-8 study-index">
            <% @studies.each do |study| %>
                <div class="study-contents">
                    <div class="study-content">
                        <%= link_to( "#{study.user.name}さんの学習内容" ,user_path(study.user_id), {class: "link-color"}) %>
                        <%= link_to user_road_path(study.user_id),class:"link-color" do %>
                            <h4 class="study-text">学習内容：<%= study.content  %> </h4>
                            <h4 class="study-text">
                                <%= study_material(study) %>
                            </h4>
                            <h4 class="study-text">
                                <%= study_period(study) %>
                            </h4>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-md-4">
            <h1>タグ一覧</h1>
            <% @tag_list.each do |list|%>
                <span class="tags"><%= list.tag_name %></span>
            <% end %>
        </div>
    </div>
</div>
