<!DOCTYPE html>
<html>
  <head>
    <title>ShareRoadMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <% if @current_user %>
       <h2 class="logo">ShareRoadMap</h2>
        <ul class="nav justify-content-end">
            <li class="nav-item">
             <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            </li>
            <li class="nav-item">
             <%= link_to("投稿一覧", "/login") %>
            </li>
            <li class="nav-item">
             <%= link_to("ログアウト", "/logout") %>
            </li>
        </ul>
      <% else %>
        <h2 class="logo">ShareRoadMap</h2>
        <ul class="nav justify-content-end">
            <li class="nav-item">
             <%= link_to("新規登録", "/") %>
            </li>
            <li class="nav-item">
            <%= link_to("ログイン", "/login") %>
            </li>
        </ul>
      <% end %>
      </header>
      <% if flash[:alert] %>
        <div class="alert">
          <% flash.each do |alert, message| %>
            <%= message %>
          <% end %>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div class="success">
          <% flash.each do |success, message| %>
            <%= message %>
          <% end %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
