<!DOCTYPE html>
<html>
  <head>
    <title>ShareRoadMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h2 class="logo">ShareRoadMap</h2>
      <ul class="nav justify-content-end">
          <li class="nav-item">
          <a class="nav-link" href="#">新規登録</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">ログイン</a>
          </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
