<!DOCTYPE html>
<html>
  <head>
    <title>ShareRoadMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if @current_user %>
        <div class="login-hd">
        <%= link_to("ShareroadMap","/",class:"logo") %>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <%= link_to(@current_user.name,user_path(@current_user),class:"nav-text") %>
                </li>
                <li class="nav-item">
                <%= link_to("ユーザー一覧", user_index_path,class:"nav-text") %>
                </li>
                <li class="nav-item">
                  <%= link_to("ログアウト", logout_path,class:"nav-text") %>
                </li>
            </ul>
        </div>
      <% else %>
      <div class="logout-hd">
        <%= link_to("ShareroadMap","/",class:"logo") %>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <%= link_to("新規登録", new_user_path) %>
            </li>
            <li class="nav-item">
            <%= link_to("ログイン", login_path) %>
            </li>
            <li class="nav-item">
            <%= link_to("ゲストログイン", guest_sessions_path,method: :post) %>
            </li>
        </ul>
      </div>
      <% end %>
    </header>
    <% if flash[:alert] %>
      <div class="alert">
        <% flash.each do |alert, message| %>
          <%= message %>
        <% end %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="success">
        <% flash.each do |success, message| %>
          <%= message %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
